<?xml version="1.0" encoding="utf-8" ?>
<MccConfig>
  <AnalogBoards>
    <AnalogBoard>
      <BoardNum>10</BoardNum>
      <NumberOfBits>16</NumberOfBits>
      <AnalogOutputs>
        <AnalogChannel>
          <Name>BlueCircuit2HiSideStartCountValue</Name>
          <Channel>3</Channel>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2LoSideStartCountValue</Name>
          <Channel>4</Channel>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2HiSideCountLimit</Name>
          <Channel>5</Channel>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2LoSideCountLimit</Name>
          <Channel>6</Channel>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
		  <AnalogChannel>
			  <Name>AreaMonitorHighSetpoint</Name>
			  <Channel>10</Channel>
			  <Range>Uni10Volts</Range>
		  </AnalogChannel>
      </AnalogOutputs>
      <AnalogInputs>       
        <AnalogChannel>
          <Name>IPADDRESS:192.168.0.10</Name>
          <Channel>0</Channel>
          <NumberOfSamples>40</NumberOfSamples>
          <NumberOfMovingAverages>5</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
		  <AnalogChannel>
			  <Name>BlueCDG10Volts</Name>
			  <Channel>1</Channel>
			  <NumberOfSamples>250</NumberOfSamples>
			  <NumberOfMovingAverages>12</NumberOfMovingAverages>
			  <Range>Uni10Volts</Range>
		  </AnalogChannel>
        <AnalogChannel>        
          <Name>BlueCDG1000Volts</Name>
          <Channel>2</Channel>
          <NumberOfSamples>250</NumberOfSamples>
          <NumberOfMovingAverages>10</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2HiSideCounterVolts</Name>
          <Channel>3</Channel>
          <NumberOfSamples>250</NumberOfSamples>
          <NumberOfMovingAverages>10</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2LoSideCounterVolts</Name>
          <Channel>4</Channel>
          <NumberOfSamples>250</NumberOfSamples>
          <NumberOfMovingAverages>10</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2HiSideCounterLimitVolts</Name>
          <Channel>5</Channel>
          <NumberOfSamples>250</NumberOfSamples>
          <NumberOfMovingAverages>10</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2LoSideCounterLimitVolts</Name>
          <Channel>6</Channel>
          <NumberOfSamples>250</NumberOfSamples>
          <NumberOfMovingAverages>10</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>CounterOutputVolts</Name>
          <Channel>7</Channel>
          <NumberOfSamples>250</NumberOfSamples>
          <NumberOfMovingAverages>10</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
        <AnalogChannel>
          <Name>BlueCircuit2SupplyPressureVolts</Name>
          <Channel>8</Channel>
          <NumberOfSamples>250</NumberOfSamples>
          <NumberOfMovingAverages>12</NumberOfMovingAverages>
          <Range>Uni10Volts</Range>
        </AnalogChannel>
		  <AnalogChannel>
			  <Name>BlueCircuit2HiSideToolPressureVolts</Name>
			  <Channel>14</Channel>
			  <NumberOfSamples>250</NumberOfSamples>
			  <NumberOfMovingAverages>12</NumberOfMovingAverages>
			  <Range>Uni10Volts</Range>
		  </AnalogChannel>
		  <AnalogChannel>
			  <Name>BlueCircuit2LoSideToolPressureVolts</Name>
			  <Channel>15</Channel>
			  <NumberOfSamples>250</NumberOfSamples>
			  <NumberOfMovingAverages>12</NumberOfMovingAverages>
			  <Range>Uni10Volts</Range>
		  </AnalogChannel>
		  <AnalogChannel>
			  <Name>RefrigerantPPMVolts</Name>
			  <Channel>18</Channel>
			  <NumberOfSamples>250</NumberOfSamples>
			  <NumberOfMovingAverages>12</NumberOfMovingAverages>
			  <Range>Uni10Volts</Range>
		  </AnalogChannel>
      </AnalogInputs>
    </AnalogBoard>
  </AnalogBoards>
  <DigitalBoards>
    <DigitalBoard>
      <BoardNum>10</BoardNum>
      <InvertedLogic>false</InvertedLogic>
      <DigitalPorts>
        <DigitalPort>
          <DigitalPortType>AuxPort</DigitalPortType>
          <DigitalPortDirection>DigitalOut</DigitalPortDirection>
          <DigitalPortBits>
            <DigitalPortBit>
              <Name>EvacPumpEnable</Name>
              <Description>Y001 - Evac Pump Enable</Description>
              <Bit>0</Bit>
            </DigitalPortBit>
			<DigitalPortBit>
			   <Name>BlueCircuit2Alarm</Name>
			   <Description>Y005 - Alarm</Description>
			   <Bit>4</Bit>
		  </DigitalPortBit>
          </DigitalPortBits>
        </DigitalPort>
        <DigitalPort>
          <DigitalPortType>FirstPortA</DigitalPortType>
          <DigitalPortDirection>DigitalOut</DigitalPortDirection>
          <DigitalPortBits>
            <DigitalPortBit>
              <Name>BlueCircuit2HiSideToolStem</Name>
              <Description>Y101 - R1 High Side Stem</Description>
              <Bit>0</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2HiSideEvac</Name>
              <Description>Y102 - R1 High Side Evac</Description>
              <Bit>1</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2HiSideRecovery</Name>
              <Description>Y103 - R1 High Side Recovery</Description>
              <Bit>2</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2HiSideCharge</Name>
              <Description>Y104 - R1 High Side Charge</Description>
              <Bit>3</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>Y105</Name>
              <Description>Y105 - Spare</Description>
              <Bit>4</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2LoSideToolStem</Name>
              <Description>Y106 - R1 Low Side Stem</Description>
              <Bit>5</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2LoSideEvac</Name>
              <Description>Y107 - R1 Low Side Evac</Description>
              <Bit>6</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2LoSideRecovery</Name>
              <Description>Y108 - R1 Low Side Recovery</Description>
              <Bit>7</Bit>
            </DigitalPortBit>
          </DigitalPortBits>
        </DigitalPort>
        <DigitalPort>
          <DigitalPortType>FirstPortB</DigitalPortType>
          <DigitalPortDirection>DigitalOut</DigitalPortDirection>
          <DigitalPortBits>
            <DigitalPortBit>
              <Name>BlueCircuit2LoSideCharge</Name>
              <Description>Y109 - R1 Low Side Charge</Description>
              <Bit>0</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>Y110</Name>
              <Description>Y110 - Spare</Description>
              <Bit>1</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2LightStackRed</Name>
              <Description>Y111 - R1 Stack Light Red Light</Description>
              <Bit>2</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2LightStackYellow</Name>
              <Description>Y112 - R1 Stack Light Amber Light</Description>
              <Bit>3</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2LightStackGreen</Name>
              <Description>Y113 - R1 Stack Light Green Light</Description>
              <Bit>4</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>BlueCircuit2FlowmeterReset</Name>
              <Description>Y114 - R1 Flowmeter Reset</Description>
              <Bit>5</Bit>
            </DigitalPortBit>
          </DigitalPortBits>
        </DigitalPort>
        <DigitalPort>
          <DigitalPortType>SecondPortA</DigitalPortType>
          <DigitalPortDirection>DigitalOut</DigitalPortDirection>
          <DigitalPortBits>
            <DigitalPortBit>
              <Name>BasePressureTestValve</Name>
              <Description>Y201 - Base Pressure Test Valve</Description>
              <Bit>0</Bit>
            </DigitalPortBit>
            <DigitalPortBit>
              <Name>HighSideRateOfRiseValve</Name>
              <Description>Y202 - Rate Of Rise Valve</Description>
              <Bit>1</Bit>
            </DigitalPortBit>           
			  <DigitalPortBit>
				  <Name>ReversingValve</Name>
				  <Description>Y207 - R1 Reversing Valve</Description>
				  <Bit>6</Bit>
			  </DigitalPortBit>
          </DigitalPortBits>
        </DigitalPort>
		  <DigitalPort>
			  <DigitalPortType>ThirdPortA</DigitalPortType>
			  <DigitalPortDirection>DigitalIn</DigitalPortDirection>
			  <DigitalPortBits>
				  <DigitalPortBit>
					  <Name>MCRPower24VoltSense</Name>
					  <Description>X301 - MCR 24VDC Power</Description>
					  <Bit>0</Bit>
				  </DigitalPortBit>
				  <DigitalPortBit>
					  <Name>AreaWarningFromCust</Name>
					  <Description>X302 - Area Warning From Customer</Description>
					  <Bit>1</Bit>
				  </DigitalPortBit>
				  <DigitalPortBit>
					  <Name>PurgeFlowInlet</Name>
					  <Description>X303 - Purge Flow Inlet</Description>
					  <Bit>2</Bit>
				  </DigitalPortBit>
				  <DigitalPortBit>
					  <Name>Acknowledge</Name>
					  <Description>X304 - Acknowledge</Description>
					  <Bit>3</Bit>
				  </DigitalPortBit>
				  <DigitalPortBit>
					  <Name>BlueCircuit2FlowmeterFault</Name>
					  <Description>X307 - R1 Flowmeter Fault</Description>
					  <Bit>6</Bit>
				  </DigitalPortBit>
				  <DigitalPortBit>
					  <Name>BlueCircuit2FlowmeterCounter</Name>
					  <Description>X308 - R1 Flowmeter Counter</Description>
					  <Bit>7</Bit>
				  </DigitalPortBit>
			  </DigitalPortBits>
		  </DigitalPort>
		  <DigitalPort>
			  <DigitalPortType>ThirdPortB</DigitalPortType>
			  <DigitalPortDirection>DigitalIn</DigitalPortDirection>
			  <DigitalPortBits>
				  <DigitalPortBit>
					  <Name>BlueHeatPumpControlInput</Name>
					  <Description>X309 - R1 Heat Pump Control Input</Description>
					  <Bit>0</Bit>
				  </DigitalPortBit>
				  <DigitalPortBit>
					  <Name>BluePumpEnableSense</Name>
					  <Description>X315 - R1 Pump Enable Sense</Description>
					  <Bit>6</Bit>
				  </DigitalPortBit>
			  </DigitalPortBits>
		  </DigitalPort>
      </DigitalPorts>   
    </DigitalBoard>
  </DigitalBoards>
</MccConfig>